<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Vaccination Manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div >
        <div class="logo"></div>
    </div>

    <div class="navbar">
        <div class="navbarToggle left  "></div>
        <div class="navbaritems left  "> <a>Welcome</a></div>
        <div class="navbarspace right"></div>
        <div class="navbaritems right">
            @Html.ActionLink("Login", "Index", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </div>
    </div>

    <div class="Menu">
        <div class="MenuItem" id="login">@Html.ActionLink("Register", "About", "Account")</div>
        <div class="MenuItem" id="logout">@Html.ActionLink("Register", "About", "Account")</div>
        <div class="MenuItem" id="register">@Html.ActionLink("Register", "About", "Account")</div>
        <div class="MenuItem" id="about">@Html.ActionLink("About", "About", "Home" )</div>
        <div class="MenuItem" id="contact">@Html.ActionLink("Contact Us'", " About", "Home")</div>
    </div>

    <div class="mainContent">



        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>