@using VaccinationManager.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2 style="background-color: #e57c58; color: white; display: table; width: calc(100%); height: 50px; border-bottom: 3px solid #eee; padding-left: 20px;">@ViewBag.Title</h2>
<div style="background-color: #e57c58; width: calc(100%); height: 5px;"></div>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <br/>
                <h4 style="font-size: 16px;">Please key your login details.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-2"> @Html.LabelFor(m => m.Username, new {@class = "col-md-2 control-label"})</div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Username, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Username, null, new {@class = "text-danger"})
                    </div>
                </div>
                <div class="row"><br/></div>
                <div class="row">
                    <div class="col-md-2"> @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})</div>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Password, null, new {@class = "text-danger"})
                    </div>
                </div>
                <div class="row"><br /></div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <button type="submit" class="Loginbutton btn-default ">Login</button>
                        <button type="button" class=" registerbutton  btn-default" onclick="location.href='@Url.Action("Register", "Account" )'">Request Access</button>
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}