@using VaccinationManager.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <h4>Please key your login detail.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-2"> @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })</div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Username, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"> @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })</div>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"> @Html.LabelFor(m => m.Branch, new { @class = "col-md-2 control-label" })</div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Branch, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Branch, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-6">
                        <button type="submit" class="Loginbutton btn-default ">Login</button>
                        <button type="submit" class="Loginbutton btn-default ">Register</button>

                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}