@model VaccinationManager.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2 style="background-color: #e57c58; color: white; display: table; width: calc(50%); height: 50px; border-bottom: 3px solid #eee; padding-left: 20px;">Request Access</h2>
<div style="background-color: #e57c58; width: calc(50%); height: 5px;"></div>
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <br/>
            <h3 style="font-size: 16px;">Please fill in the following to request access.</h3>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.Branch, new { @class = "col-md-2 control-label" })
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Branch, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                </div>
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                </div>
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Submit" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
