@model VaccinationManager.ViewModels.ParentViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.CurrentPage = "Parents";
}

<h2 style="background-color: #e57c58; color: white; display: table; width: calc(100%); height: 50px; border-bottom: 3px solid #eee; padding-left: 20px;">@ViewBag.Title</h2>
<div style="background-color: #e57c58; width: calc(100%); height: 5px;"></div>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("ID Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cellphone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cellphone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloodType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodType)
        </dd>
    </dl>
    <br />

    <h4>Children</h4>
    <hr />
    @foreach (var item in Model.Children)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("ID Number")
            </dt>

            <dd>
                @Html.DisplayFor(model => item.IdNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.Surname)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Surname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.BloodType)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.BloodType)
            </dd>
            <dd>
                @Html.ActionLink("View", "Details", "Children", new { id = item.IdNumber }, null)
            </dd>
        </dl>
        <br />

    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
