@model VaccinationManager.Models.Branch
@{
    ViewBag.CurrentPage = "Branch Maintenance";
}
<h2 style="background-color: #e57c58; color: white; display: table; width: calc(100%); height: 50px; border-bottom: 3px solid #eee; padding-left: 20px;">Delete</h2>
<div style="background-color: #e57c58; width: calc(100%); height: 5px;"></div>
<br/>
<h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Branch Name")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayName("Manager Name")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Overseer_Name)
            </dd>
    
            <dt>
                @Html.DisplayName("Manager Surname")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Overseer_Surname)
            </dd>
    
            <dt>
                @Html.DisplayName("Practice Number")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Practice_No)
            </dd>
    
            <dt>
                @Html.DisplayName("Telephone Number")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Tel_Number)
            </dd>
    
            <dt>
                @Html.DisplayName("Fax Number")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fax_Number)
            </dd>
    
            <dt>
                @Html.DisplayName("E-mail Address")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email_Address)
            </dd>
            <dt>
                @Html.DisplayName("Physical Address")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>

