@model VaccinationManager.Models.Branch
@{
    ViewBag.CurrentPage = "Branch Maintenance";
}
    <div>
        <h2 style="background-color: #e57c58; color: white; display: table; width: calc(100%); height: 50px; border-bottom: 3px solid #eee; padding-left: 20px;">Branch</h2>
        <div style="background-color: #e57c58; width: calc(100%); height: 5px;"></div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Branch Name")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayName("Manager Name")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Overseer_Name)
            </dd>

            <dt>
                @Html.DisplayName("Manager Surname")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Overseer_Surname)
            </dd>

            <dt>
                @Html.DisplayName("Practice Number")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Practice_No)
            </dd>

            <dt>
                @Html.DisplayName("Telephone Number")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tel_Number)
            </dd>

            <dt>
                @Html.DisplayName("Fax Number")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fax_Number)
            </dd>

            <dt>
                @Html.DisplayName("E-mail Address")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email_Address)
            </dd>
            <dt>
                @Html.DisplayName("Physical Address")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
    
            <dt>
                @Html.DisplayName("Bank Name")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Bank_Name)
            </dd>
    
            <dt>
                @Html.DisplayName("Branch Number")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Branch_Number)
            </dd>
    
            <dt>
                @Html.DisplayName("Account Number")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Account_Number)
            </dd>
    
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

