@model IEnumerable<VaccinationManager.Models.Branch>

@{
    ViewBag.CurrentPage = "Branch Maintenance";
}

    <h2 style="background-color: #e57c58; color: white; display: table; width: calc(100%); height: 50px; border-bottom: 3px solid #eee; padding-left: 20px;">Branches</h2>
    <div style="background-color: #e57c58; width: calc(100%); height: 5px;"></div>
    <br />
    <p>
        @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btnCreateNew" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Branch Name")
            </th>
            <th>
                @Html.DisplayName("Manager Name")
            </th>
            <th>
                @Html.DisplayName("Manager Surname")
            </th>
            <th>
                @Html.DisplayName("Practice Number")
            </th>
            <th>
               @Html.DisplayName("Tel Number")
            </th>
            <th>
                @Html.DisplayName("Fax")
            </th>
            <th>
                @Html.DisplayName("E-mail Address")
            </th>
           
            <th>
               @Html.DisplayName("Physical Address")
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Overseer_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Overseer_Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Practice_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email_Address)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>

