@model VaccinationManager.ViewModels.MeasurementViewModel
@{
    ViewBag.Title = "Children";
    ViewBag.CurrentPage = "Children";
}

<h2 style="background-color: #e57c58; color: white; display: table; width: calc(100%); height: 50px; border-bottom: 3px solid #eee; padding-left: 20px;">Measurement</h2>
<div style="background-color: #e57c58; width: calc(100%); height: 5px;"></div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CaptureMeasurement.Weight, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CaptureMeasurement.Weight, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CaptureMeasurement.Weight, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CaptureMeasurement.Height, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CaptureMeasurement.Height, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CaptureMeasurement.Height, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CaptureMeasurement.HeadCircumference, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CaptureMeasurement.HeadCircumference, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CaptureMeasurement.HeadCircumference, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Measurements" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Measurements", "Children", FormMethod.Post))
{
    <div class="container">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Weight")
                </th>
                <th>
                    @Html.DisplayName("Height")
                </th>
                <th>
                    @Html.DisplayName("Head Circumference")
                </th>
                <th>
                    @Html.DisplayName("Date")
                </th>
               
                <th></th>
            </tr>

            @foreach (var item in Model.Measurements)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Height)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HeadCircumference)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    
                    <td>
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Action<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                               
                                <li>@Html.ActionLink("Edit", "EditMeasurement", new { id = item.Id })</li>
                                <li>@Html.ActionLink("Delete", "DeleteMeasurement", new { id = item.Id })</li>
                                @*<li>@Html.ActionLink("Measurements", "Measurements", new { id = item.IdNumber })</li>*@
                            </ul>
                        </div>
                    </td>
                </tr>
            }

        </table>
        @*<div class="row">
            <div class="col-md-10">
                <canvas id="heightChart" style="width: 100%; height: auto;"></canvas>
            </div>
            <div class="col-md-2">
                <div id="js-legend" class="chart-legend"></div>
            </div>
            <img id="image" />
        </div>*@

        <script type="text/javascript">
            //$(function() {

            $(function () {
                $(".dropdown").hover(
                        function () {
                            $('.dropdown-menu', this).stop(true, true).fadeIn("fast");
                            $(this).toggleClass('open');
                            $('b', this).toggleClass("caret caret-up");
                        },
                        function () {
                            $('.dropdown-menu', this).stop(true, true).fadeOut("fast");
                            $(this).toggleClass('open');
                            $('b', this).toggleClass("caret caret-up");
                        });
            });


            var heightData = @Html.Raw(Json.Encode(Model.HeightData));
            var chartLabel = @Html.Raw(Json.Encode(Model.LabelData));
            var headData = @Html.Raw(Json.Encode(Model.HeadData));
            var weightData =  @Html.Raw(Json.Encode(Model.WeightData));

            var data = {
                labels: chartLabel,
                datasets: [
                    {
                        label: "Head Circumference",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: headData,
                    },
                    {
                        label: "Height",
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data: heightData,
                    },
                    {
                        label: "Weight",
                        fillColor: "rgba(153,232,214,0.2)",
                        strokeColor: "rgba(153,232,214,1)",
                        pointColor: "rgba(153,232,214,1)",
                        pointStrokeColor: "",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(153,232,214,1)",
                        data: weightData,
                    }
                ]
            };

            var options = {
                segmentShowStroke: false,
                animateRotate: true,
                animateScale: false,
                percentageInnerCutout: 50,
                tooltipTemplate: "<%= value %>%",
                onAnimationComplete: done
            }

            // Get the context of the canvas element we want to select
            var ctx = document.getElementById("heightChart").getContext("2d");
            var lineChart = new Chart(ctx).Line(data, options);
            //then you just need to generate the legend
            var legend = lineChart.generateLegend();

            document.getElementById('js-legend').innerHTML = lineChart.generateLegend();
            //});
            function done() {
                console.log('done');
                var url=document.getElementById("heightChart").toDataURL();
                //document.getElementById("image").src=url;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("MeasurementChart", "Children")',
                    contentType: "image/png; base64",
                    data: url ,
                    dataType: "json",
                });
            }
        </script>
        
    </div>
}